<h1 class="admin-title">Cursos e Projetos</h1>
<div class="main-content">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 100%">Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PUC-Rio Pós Graduação Desenvolvimento Web Full Stack - Oct/2023 - Out/2024</td>
        </tr>
        <tr>
          <td>Le Wagon - Full Stack Web Development Ruby on Rails - Abr/23 - Jun/23</td>
        </tr>
        <tr>
          <td>Hiring Coders #3 Trilha de Full-Stack VTEX e Gama Academy - May/22 - Jul/22</td>
        </tr>
        <tr>
          <td>Programming for the Web with JavaScript - Pennx University of Pennsylvania - Set/21 - Out/21</td>
        </tr>
        <tr>
          <td>Programming for the Web with JavaScript - Pennx University of Pennsylvania - Set/21 - Out/21</td>
        </tr>
        <tr>
          <td>
            LuizaCode - 3ª Edição – LuizaLabs - Apr/21 - Set/21
          </td>
        </tr>
        <tr>
          <td>
            Digital House Brasil - Desenvolvimento Web Full Stack - Jan/21 - Ago/21
          </td>
        </tr>
        <tr>
          <td>
            MIT - Introduction to Computer Science and Programming Using Python - Jan/20 - Mar/20
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
